// Variables
$primary-color: #39CDCC;
$secondary-color: #213F7D;
$tertiary-color: #545F7D;
$placeholder-color: #989fb1ff;
$input-border-color: #e5e7ebff;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$border-radius: 8px;